.card {
	margin-top: 12px;
	/* border: 0 !important; */
}

/* .card-body {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 10px !important;
} */

/* .nav p {
	font-family: 'Ubuntu', sans-serif;
} */

.card-title {
	font-family: 'Open Sans', sans-serif;
}

* {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Roboto', sans-serif;
}